<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<style type="text/css">
    .bootstrap-tagsinput {
        width: 100%;
    }

    .label {
        line-height: 2 !important;
    }
</style>

<div class="container" ng-controller="adicionar-snippet as ctrl">
    <h3>
        Adicionar Snippet
    </h3>

    <md-content layout-padding="">
        <form id="userForm">
            <div layout="" layout-sm="column">
                <md-input-container flex>
                    <label><b>Titulo</b></label>
                    <input ng-model="snippet.Titulo">
                </md-input-container>

                <md-select placeholder="Projetos" ng-model="snippet.Projeto" flex>
                    <md-option value="Projeto 1">Projeto 1</md-option>
                    <md-option value="Projeto 2">Projeto 2</md-option>
                </md-select>
            </div>
            <div layout="column">
                
                    <md-chips ng-model="ctrl.tags"
                              readonly="ctrl.readonly"
                              placeholder="Palavras-Chave"
                              secondary-placeholder="Palavras-Chave"></md-chips>
                
            </div>
        </form>
    </md-content>

    <div ui-view></div>

    <!-- Botão de adicionar novo snippet -->
    <div class="fixed-action-btn bottom" ng-click="salvaSnippet()">
        <a class="btn-floating btn-large red">
            <i class="mdi-file-file-upload"></i>
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#userForm')
            .find('[name="cities"]')
                // Revalidate the cities field when it is changed
                .change(function (e) {
                    $('#userForm').formValidation('revalidateField', 'cities');
                })
                .end()
            .formValidation({
                framework: 'bootstrap',
                excluded: ':disabled',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    cities: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter at least one city you like the most.'
                            }
                        }
                    }
                }
            });
    });
</script>