<div class="container">

    <h2 class="text-center"> Titulo Snippet</h2>
    <div class="text-center">
        <a class="btn-sm waves-effect waves-light small red">tag1</a>
        <a class="btn-sm waves-effect waves-light small red">tag2</a>
        <a class="btn-sm waves-effect waves-light small red">tag3</a>
        <a class="btn-sm waves-effect waves-light small red">tag4</a>
    </div>


    <div ui-view></div>

    <!-- Botão de fazer download do código -->
    <div class="fixed-action-btn bottom">
        <a class="btn-floating btn-large red">
            <i class="mdi-file-file-download"></i>
        </a>
    </div>
</div>