.chipsdemoBasicUsage .custom-chips .md-chip {
  position: relative;
  padding-right: 35px; }
  .chipsdemoBasicUsage .custom-chips .md-chip .md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }