body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menuBar md-toolbar md-icon.md-default-theme {
  color: white; }

.inputIcons .inputIcons {
  min-height: 48px; }
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: white; }
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: white; }
.inputIcons md-input-container.md-input-invalid > md-icon.email, .inputIcons md-input-container.md-input-invalid > md-icon.name {
  color: white; }

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
.tooltipdemoBasicUsage .left {
  top: 70px !important;
  left: 56px !important; }
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }

.listdemoListControls md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
