body {
    padding-top: 50px;
    padding-bottom: 20px;
    height:100%;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menuBar md-toolbar md-icon.md-default-theme {
  color: white; }

.inputIcons .inputIcons {
  min-height: 48px; }
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.email {
  color: white; }
.inputIcons md-input-container:not(.md-input-invalid) > md-icon.name {
  color: white; }
.inputIcons md-input-container.md-input-invalid > md-icon.email, .inputIcons md-input-container.md-input-invalid > md-icon.name {
  color: white; }

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button, .tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; }
.tooltipdemoBasicUsage .left {
  top: 70px !important;
  left: 56px !important; }
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; }

.listdemoListControls md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }

 /* Cards */
.card-action.action > a:first-child{
    margin-right:3em;
    color: red;
}

.card-action.action > a:nth-child(2){
    margin-right: 0em;
    color: red;
}

.card-action.action > a:nth-child(2):hover, .card-action.action > a:first-child:hover{
    color: #F08080;
}

.card-action{
    background-color: white;
}

.card > .card-title.center{
    color: #A9A9A9;
    padding: 0.3em 0.1em 0.3em 0.1em;
    font-size: 1.5em;
}

.row > .col.s12.m4.l4, .row > .col.s12.m4.l4 > .card{
    padding:0em 1em 0em 1em;
    margin-bottom: 1em;
}

.pagination > li > a{
    color: red;
}

.pagination > li > a:hover{
    background-color: #1F1F1F;
}

#menuToolBar, .navbar-fixed-bottom.md-default-theme, #top-search-wrap{
    background-color: #1F1F1F;
    border-top: 0.2em solid red;
}

.navbar-fixed-bottom.md-default-theme span{
    color: red;
}

.fixed-action-btn.top{
    top: 5em;
    right: 2em;
}

.fixed-action-btn.bottom{
    bottom: 5em;
    right: 2em;
}

.ace_editor {
    height: 25em;
}

.btn-sm.red{
    color: white;
    margin-right: 0.3em;
}

.btn-sm.red:last-child{
    margin-right: 0em;
}

.btn-sm.red:hover{
    text-decoration: none;
}

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 250px !important;
 width: 50vw !important;
 max-width: 250px !important;
}

/*ng-md-icon{
    cursor:pointer;
    transition: 240ms;
}

ng-md-icon:after{
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    position: absolute;
}*/

md-list-item:hover{
    cursor: pointer;
    text-decoration: none;
}

#filtroProjSnippet{
    margin-right: -1em;
}

#filtroProjSnippet:focus, #filtroProjSnippet:visited, #filtroProjSnippet:hover, #filtroProjSnippet:after{
    outline: none;
    border: none;
    background-color: transparent;
}

#menuLateral{
    margin-top: -0.15em;
}

.card.small{
    height: 7em;
    margin: 0em;
}

md-toolbar.side-nav-toolbar{
    background-color: #1F1F1F;
    padding: 0em;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}

md-sidenav{
    height: 90%;
}

.menu-secundario p{
    font-size: 12px;
    padding-left: 1em;
}