<style>
    .ace_editor {
        width: 100%;
    }
</style>


<div>
    <md-content class="md-padding">
        <!-- Tabs -->
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="HTML">
                <md-content class="md-padding">
                    <div ui-ace="{
                         theme:'monokai',
                         mode: 'html',
                         rendererOptions: { fontSize: 14 },
                         onLoad: aceLoaded,
                         onChange: aceChangedHtml
                     }"></div>
                </md-content>
            </md-tab>
            <md-tab label="CSS">
                <md-content class="md-padding">
                    <div ui-ace="{
                         theme:'monokai',
                         mode: 'css',
                         rendererOptions: { fontSize: 14 },
                         onLoad: aceLoaded,
                         onChange: aceChangedCss
                     }"></div>
                </md-content>
            </md-tab>
            <md-tab label="JS">
                <md-content class="md-padding">
                    <div ui-ace="{
                         theme:'monokai',
                         mode: 'javascript',
                         rendererOptions: { fontSize: 14 },
                         onLoad: aceLoaded,
                         onChange: aceChangedJs
                     }"></div>
                </md-content>
            </md-tab>
            <md-tab label="Visualização">
                <md-content class="md-padding">
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
