<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Novo Projeto
</button>

<div id="myModal" class="modal modal-content">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s4">
                    <label for="Nome">Nome</label>
                    <input id="Nome" type="text" class="validate">
                </div>
                <div class="input-field col s4">
                    <input id="equipe" type="text" class="validate">
                    <label for="equipe">Equipe</label>
                </div>
                <div class="input-field col s4">
                    <input id="cliente" type="text" class="validate">
                    <label for="cliente">Cliente</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4" ng-controller="chipsCtrl as ctrl">
                    <md-chips ng-model="ctrl.tags"
                              readonly="ctrl.readonly"
                              placeholder="Palavras-Chave"
                              delete-button-label="Remover Palavra-Chave">
                    </md-chips>

                </div>

                <div class="input-field col s4">

                    <label for="inicio" class="active">Inicio</label>
                    <input type="date" ng-model="user.submissionDate">

                </div>

                <div class="input-field col s4">
                    <label for="fim" class="active">Fim</label>
                    <input type="date" ng-model="user.submissionDate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id=" textarea1" class="materialize-textarea" length="120"></textarea>
                    <label for="descricao">Descrição</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>