<style type="text/css">
    .bootstrap-tagsinput {
        width: 100%;
    }

    .label {
        line-height: 2 !important;
    }
</style>

<div class="container">
    <h3>
        Adicionar Snippet
    </h3>
    
    <md-content layout-padding="">
        <form id="userForm">
            <div layout="" layout-sm="column">
                <md-input-container flex>
                    <label><b>Nome</b></label>
                    <input ng-model="snippet.nome">
                </md-input-container>

                <md-select placeholder="Projetos" ng-model="snippet.projeto" flex>
                    <md-option value="novo" style="font-weight: bold">Add novo projeto</md-option>
                    <md-option ng-repeat="proj in projetosCadastrados" value="{{proj.idProjeto}}">{{proj.nome}}</md-option>
                </md-select>
            </div>
            <div layout="column">

                <md-chips ng-model="snippet.Keyword"
                          readonly="readonly"
                          placeholder="Tags"
                          secondary-placeholder="Tags"></md-chips>

            </div>
        </form>
    </md-content>

    <div ng-include="editor" ng-controller="EditorCtrl"></div>

    <!-- Botão de adicionar novo snippet -->
    <div class="fixed-action-btn bottom" ng-click="salvaSnippet()">
        <a class="btn-floating btn-large red">
            <i class="mdi-file-file-upload"></i>
        </a>
    </div>
</div>