<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="visualizacao" ng-controller="VisualizacaoCtrl">
<head>
    <style id="style">
    </style>

    
    <title></title>
</head>
<body>

    <div id="body">

    </div>

    <script id="script">
    </script>

    <!-- Faz os imports necessários-->
    <script type="text/javascript" src="../../Scripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="../visualizacao.js"></script>
    <script type="text/javascript" src="../controllers/VisualizacaoCtrl.js"></script>

</body>
</html>
