<div class="container">

    <h3 class="text-center" style="margin-top: 1em;">{{nomeSnippet}}</h3>
    <div class="text-center">
        <a class="btn-sm waves-effect waves-light small red" ng-repeat="kw in kws" ui-sref="snippets({valorBusca: kw.kw})">
            {{kw.kw}}
            <ng-md-icon icon=" local_offer" style="fill: white;" size="12">
            </ng-md-icon>
        </a>
    </div>

    <div ng-include="editor" ng-controller="EditorCtrl"></div>

    <!-- Botão de fazer download do código -->    <div class="fixed-action-btn bottom">
        <a class="btn-floating btn-large red" ng-click="download()">
            <i class="mdi-file-file-download"></i>
        </a>
    </div>
</div>