<html ng-app="visualizacao" ng-controller="VisualizacaoCtrl">
<head>
    
    
    <style id="style">

    </style>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>

    <div id="body">
    </div>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../../Scripts/canvas/html2canvas.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <!-- Faz os imports necessários-->
    <script type="text/javascript" src="../../Scripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="../visualizacao.js"></script>
    <script type="text/javascript" src="../controllers/VisualizacaoCtrl.js"></script>
    
</body>
</html>

    
